html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  color: #202020;
}

body {
  background: #fff;
}

#wrap {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

table {
  text-align: center;
}
table thead th {
  background-color: #767676 !important;
  color: #fff !important;
}

/* header css */
.navbar {
  height: 80px;
  padding: 0 !important;
  position: relative;
}
.navbar .container-fluid {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #282b34;
  z-index: 3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.navbar-brand {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 2rem;
}
.navbar-brand span {
  font-weight: 700;
}
.navbar-collapse,
.navbar-nav {
  height: 100%;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.navbar .container-fluid > * {
  color: #fff !important;
}
.navbar .nav-item {
  padding: 0 0.5rem;
}
.navbar .nav-item a {
  color: #fff !important;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  font-weight: 700;
  opacity: 1;
  position: relative;
}
.navbar-nav .nav-link.active::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.navbar-nav .nav-link:hover {
  opacity: 1;
}

.navbar-toggler-icon {
  color: #fff !important;
}

@media (max-width: 991px) {
  .navbar-toggler {
    background-color: rgba(255, 255, 255, 0.5);
    height: 56px;
  }
  .navbar-expand-lg .navbar-collapse {
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    color: #000 !important;
  }
}

/* 환수정보 css */
.card {
  border: none !important;
  border-radius: 0 !important;
}
.card-body {
  padding: 0;
}
.info-selectBtn-box {
  display: flex;
  height: 48px;
}
.info-selectBtn-box > div {
  width: 50%;
  margin: 0 !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #000;
  font-weight: 500;
  border: none;
  border-radius: 0;
  border: solid 1px #3f424a;
}
.info-selectBtn-box > div:hover,
.info-selectBtn-box > div:active,
.info-selectBtn-box > div.active {
  background-color: #3f424a !important;
  color: #fff !important;
  border-color: #3f424a !important;
  font-weight: 700;
}
.info-selectBtn-box > div:hover {
  opacity: 0.7;
}

.item-selectBtn-box {
  padding: 0.5rem;
  border: solid 1px #ddd;
  border-top: none;
}
.item {
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 4px;
  transition: transform 0.2s, box-shadow 0.2s;
  /* flex: 1 1 auto; */
  width: 60px;
  max-width: 60px;
}
.item label {
  padding: 4px;
  cursor: pointer;
  height: 100%;
}

#selectedPets {
  gap: 20px;
}
#selectedPets .item span,
#infoDiv .item label > div {
  font-size: 11px;
  font-weight: 700;
  word-break: keep-all;
  margin-top: 4px;
  /* display: none; */
}
#infoDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#infoDiv .item {
  position: relative;
}
#infoDiv .item input {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
}
#infoDiv .item:has(input:checked) {
  box-shadow: 0 0 0 4px #f00;
}
#infoDiv .item label {
}

/* footer css */
.footer-cont {
  position: relative;
  height: 150px;
}
.footer-div {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 150px;
  border-radius: 12px 12px 0 0;
  background-color: #fff;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.2);

  max-width: 100%;
}
#countText {
  font-size: 18px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px 12px;
  border: solid 1px #ddd;
  border-radius: 4px;
}

/* select 박스 화살표 해결 */
/* .form-control::-ms-expand {
  display: inline;
}
.form-control {
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
} */
.rounded-circle {
  margin-right: 12px;
}

/* 상단 출처 css */
#wrap .container:has(.source-cont) {
  gap: 4px;
}
.notice-txt {
  flex: 1 auto;
}
.notice-txt .alert.alert-danger {
  margin: 0;
}
.notice-txt .alert-heading {
  font-size: 20px;
  font-weight: 700;
}
.notice-txt .h4 {
  font-size: 17px;
}
.notice-txt .h4:nth-last-child(1) {
  margin-bottom: 0px;
}
.source-cont {
  display: flex;
  /* gap: 8px; */

  /* border: solid 1px #000; */
  padding: 8px 12px;
  border-radius: 8px;
  background: #141217;
}
.character-card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: dashed 1.5px #605d68;
  /* background: #141217; */
  /* border: 1px solid #605d68; */
  /* border-radius: 5px; */
  padding: 8px 16px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); */
  transition: opacity 0.3s ease;
  text-align: center;
}
.character-card:nth-last-child(1) {
  border: none;
}
.character-avatar {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 8px;
}
.character-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid 2px #767676;
  border-radius: 100px;
  background: #333;
}
.character-info h3 {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 3px;
}
.character-info p {
  color: #fff;
  margin: 2px 0;
  font-size: 14px;
}
.character-info strong {
  color: #fff;
}
@media (max-width: 991px) {
  #wrap .container:has(.source-cont) {
    flex-direction: column-reverse;
  }
  .character-card {
    flex-direction: row;
    flex: 1 auto;
    gap: 12px;
    max-width: 50%;
  }
  .character-avatar {
    margin: 0;
    width: 60px;
    height: 60px;
  }
  .character-info {
    min-width: 100px;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .source-cont {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .character-card {
    gap: 20px;
    border: none;
    /* border-bottom: dashed 1.5px #605d68; */
  }
  .character-card:nth-child(1) {
    border-right: dashed 1.5px #605d68;
  }
  .character-info {
    min-width: 80px;
  }
}
@media (max-width: 575px) {
  .source-cont {
    flex-direction: column;
  }
  .character-card:nth-child(1) {
    border-right: none;
  }
  .character-card {
    max-width: 100%;
    border: none;
    border-bottom: dashed 1.5px #605d68;
  }
  .bottomBtn-box {
    text-align: right !important;
  }
}
